 <!--<p>TradeMark AsyrulHafetzy 2018</p>-->
     <!--</div> <!--close showBackground-->-->
     
     
     <!--<div class="container">-->
       <footer>
        <hr>
           <div class="container" id="footerContainer">
             <div class="row">
              <div class="col-md-4">
                <div class="footerNav">
                 <h2 class="footerHeader">Page navigation:</h2>
                	<ul class="unstyled">
               					<li><a href="/tasks">Tasks</a></li>
               					<li><a href="/guestlist">Guestlist</a></li>
               					<li><a href="#">Invitation Card</a></li>
               					<li><a href="#">Maps</a></li>
                 </ul>
                 
                </div>
              </div>
              
              <div class="col-md-8 footerMessage">
               <h1 class="footerHeader">Like what you see?</h1>
               <h5 class="footerText"> Feel free to contact us on:</h5>
               <h3><a class="footerHeader" href="mailto:asyrulhafetzy.dev@gmail.com">asyrulhafetzy.dev@gmail.com</a></h3>
              
               	<div class="socialNetwork">
                 			  <a href="#" class="fa fa-facebook"></a>
                      <a href="#" class="fa fa-instagram"></a>
                      <a href="#" class="fa fa-google"></a>
                </div> 
                <p class="footerText muted pull-right">2018 Asyrul Hafetzy</p>
              </div>
           </div>
         </div>
       </footer>
 
     <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
 	   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>