<% include ./partials/header %>

<div class="container showBackground">
    <div class="row text-center">
        <!--<h1 style="text-align: center;">Login</h1>-->
        <h1 style="text-align: center;" id="cardHeader">Wedding Invitation Card</h1>
        
        <!--<div style="width:30%; margin: 25px auto;">-->
        <div class="cardContainer">
            
            <h2>Front</h2>
            <img src = "/images/Digitalfront.jpg">
        </div>
        
        <div class="cardContainer">
            <h2>Back</h2>
            <img src = "/images/Digitalback.jpg">
            
        </div>
        <!--<a href="/tasks">Go back</a>-->
    </div>
</div>

<% include ./partials/footer %>